{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-olymp User Management</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap">
</head>

<body>
    <header>
        <h1>E-olymp User Management</h1>
    </header>
    <main>
        <div class="content">
            <p>
                EolympUserManagement is a web application that finds differences between two users using data from the Eolymp platform.
                 This application produces interesting results by processing users' information on Eolymp.
            </p>

            <p>
                The project is specifically related to the Eolymp platform and analyzes users' data on this platform. Eolymp's usage rights have been respected, and the purpose of the project is for learning and entertainment purposes only.
            </p>

            <p>
                To provide feedback on the project, please contact camalzadeyahya8@gmail.com.
            </p>
        </div>
        <div class="links">
            <a href="/">Home</a>
            <a href="/analysis">Analysis</a>
        </div>
    </main>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>
